nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #62CDFF;
    color: #111111;
    padding: 10px;
    font-size: 18px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.page {
    padding: 50px;
    display: none;
    background-color: #C9EEFF;
}

.page h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #111111;
}

.page p {
    font-size: 18px;
    line-height: 1.5;
    color: #111111;
}

.page table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

.page th,
.page td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #97DEFF;
}

.page th {
    background-color: #62CDFF;
    color: #fff;
}

.page td {
    background-color: #fff;
    color: #111;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #97DEFF;
}

.start-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62CDFF;
    color: #fff;
    font-size: 3rem;
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
